.products{
    margin-top: 40px;
    .products__container{
        max-width: 960px;
        margin: 0 auto;
        .products__title{
            font-size: 24px;
            font-weight: 700;
        }
        .products__wrap{
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }
    }
    
}