.form-container{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid black;
    margin-top: 20px;
}

.form-title{
    font-size: 24px;
    text-align: center;
}

.form-label{
    padding: 5px;
    font-size: 18px;
    color: #212529;
}

.form-control{
    display: block;
    width: 90%;
    padding: 6px 12px;
    font-size: 16px;
    color: #212529;
    background-color: #FFFFFF;
    border: 1px solid #ced4da;
    border-radius: 6px;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.alert{
    position: relative;
    width: 100%;
    color: red;
    border-radius: 3px;
    padding: 10px;
}

.btn-checkout{
    background-color: rgb(8, 108, 8);
    color: #fff;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 15px;
    cursor: pointer;
}
