.favourite-page{
    margin-top: 40px;
    &__container{
        max-width: 960px;
        margin: 0 auto;
    }
    &__wrap{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    &__title{
        font-size: 24px;
        font-weight: 700;
    }
    
}