.favourite__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    transition: 0.2s;
    background-color: #cc3333;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        background-color: #651818;
        transition: 0.2s;
    }
    
    .favourite__count{
        color: #fff;
        margin-left: 5px;
        font-family: 'Roboto', sans-serif;
    }
}