
    
    .cart{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #cc3333;
        padding: 4px 10px;
        transition: 0.2s;
        text-decoration: none;
        cursor: pointer;
        
        
        
        &:hover{
            background-color: #651818;
            transition: 0.2s;
        }
    
        .cart__text{
            color: #fff;
            margin-left: 5px;
            font-family: 'Roboto', sans-serif;
        }
        .cart__count{
            color: #fff;
            margin-left: 5px;
            font-family: 'Roboto', sans-serif;
        }
    }

