.cart-page {
    max-width: 1000px;
    margin: 0 auto;
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__title{
        font-size: 24px;
        font-weight: 700;
        margin: 40px 0 30px;
    }
}

