.cart-item__wrap{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(222,222,222);
    border: 3px solid black;
    padding: 20px 0 20px 30px;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    .cart-item__img{
        img{
            height: 200px;
            width: 250px;
        }
    }
    .cart-item__content{
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .cart-item__content-title{
            font-size: 28px;
        }
        .cart-item__content-color{
            padding: 10px 0;
            font-size: 14px;
        }
        
    }
    .cart-item__buy{
        margin-right: 40px;
    }
    .cart-item__buy-button--close{
        background-color: #cc3333;
        color: #fff;
        border: none;
        font-size: 16px;
        padding: 5px 10px;
        cursor: pointer;
        &:hover{
            background-color:#cc4444;
        }
    }
    .cart-item__buy-price{
        font-size: 28px;
        padding: 10px 0 10px;
        font-family: 'Roboto', sans-serif;
    }
    .cart-item__buy-button--buy{
        background-color: rgb(8, 108, 8);
        color: #fff;
        border-radius: 15px;
        border: none;
        font-size: 16px;
        padding: 10px 20px;
        transition: 0.2s;
        &:hover{
            background-color: rgb(8, 84, 8);
            transition: 0.2s;
        }

    }
}
